// @import url('https://fonts.googleapis.com/css?family=Nunito|Petit+Formal+Script&display=swap');

$color-primary: #333399;
$color-secondary: #3399ff;
$color-ternary: #3366cc;

$color-border-light: #eee;
$width-border-light: 2px;


.cursive {
  font-family: 'Petit Formal Script', cursive;
}
