@import "../../index.scss";

.performance-review-item {
  position: relative;
  padding: 5px;
  cursor: pointer;

  & + & {
    border-top: $width-border-light solid $color-border-light;
  }

  &.selected {
    color: $color-primary;
    &::after {
      content: " ";
      position: absolute;
      top: 0.5em;
      right: -1.6em;
      height: 2em;
      width: 1em;
      background-image: url("./Arrow-Right-2-icon.png");
      background-position: right;
      background-repeat: no-repeat;
      background-size: 1em;
      background-color: white;
      opacity: 0.5;
    }
  }

  &:hover {
    color: $color-secondary;
  }

  .review-title {
  }

  .review-emp {
    font-size: 0.6em;
  }
}
