@import "../../index.scss";

.dashboard {
  margin-top: 2em;
  > .dashboard-header {
    color: $color-primary;
    border-bottom: 3px solid $color-primary;
    padding-bottom: 1em;
    > .site-info {
      color: $color-primary;
    }
  }
  > .dashboard-body {
    margin-top: 1em;
    > .performance-reviews-list-container {
      border-right: 2px solid #eee;

      > .row > .col > .header {
        color: $color-primary;
      }
    }
  }
}
